<p style="color: green"><%= notice %></p>

<h1>Giftees</h1>

<div id="giftees">
  <% if !@giftees.empty? %>
    <% @giftees.each do |giftee| %>
      <%= render giftee %>
      <p>
        <%= link_to giftee.name, giftee %>
      </p>
    <% end %>
  <% else %>
    <p>No giftees to go shopping for yet! Add a giftee to get started.</p>
  <% end %>
</div>

<br>


<div class="row">
  <div class="col">
    <div class="infinity">
      <%= link_to "Add a gift", new_gift_path, class: "btn btn-danger md-4 btn-lg gift-box" %>
    </div>
  </div>
  <div class="col">
    <div class="infinity">
      <%= link_to "Add a giftee", new_giftee_path, class: "btn btn-secondary md-4 offset-md-4 btn-lg gift-box" %>
    </div>
  </div>
</div>