<p style="color: green"><%= notice %></p>

<%= render @giftee %>

<h1><%= @giftee.name %></h1>

<% if @giftee.birthdate.present? %>
  <p class="contact"><span class="bold">Birthdate:</span> <%= @giftee.birthdate %></p>
<% end %>

<% if @giftee.email.present?  %>
  <p class="contact"><span class="bold">Email:</span> <%= mail_to @giftee.email %></p>
<% end %>

<% if @giftee.phone_number.present? %>
  <p class="contact"><span class="bold">Phone Number:</span> <%= @giftee.phone_number %></p>
<% end %>

<% if @giftee.street_1.present? || @giftee.street_2.present? || @giftee.city.present? || @giftee.state.present? || @giftee.zipcode.present? || @giftee.country.present? %>
  <p class="bold">Address:</p>
  <p><%= @giftee.street_1 %></p>
  <p><%= @giftee.street_2 %></p>
  <p class="address"><%= @giftee.city %></p>
  <p class="address"><%= @giftee.state %></p>
  <p class="address"><%= @giftee.zipcode %></p>
  <p><%= @giftee.country %></p>
<% end %>

<br>

<h3>Gifts</h3>

<% if !@giftee.gifts.empty? %>
  <% @giftee.gifts.each do |gift| %>
    <div class="row">
      <span class="col"><%= link_to gift.name, gift_path(gift) %></span>
      <span class="gray col"><%= link_to "Edit", edit_gift_path(gift), class: "gray" %></span>
    </div>
  <% end %>
<% else %>
  <p>This giftee doesn't have any gifts yet! Click "Add gift" to create one.</p>
<% end %>


<br>
<div>
  <%= link_to "Edit this giftee", edit_giftee_path(@giftee), class: "btn btn-outline-secondary" %> |
  <%= link_to "Back to giftees", giftees_path, class: "btn btn-outline-dark" %>
  <br>
  <br>
  <br>
  <%= button_to "Delete giftee", @giftee, method: :delete, class: "btn btn-outline-danger" %>
</div>
