<% if gift.errors.any? %>
  <ul>
  <% gift.errors.each do |error| %>
    <li>
      <%= "Error: #{error.full_message}"%>
    </li>
  <% end %>  
  </ul>
<% end %>

<%# https://guides.rubyonrails.org/form_helpers.html %>

<%= form_with model: gift do |form| %>
  <div class="mb-3">
    <%= form.select :person_id, @people, class: "form-control" %>
  </div>
  <br>
  <div class="mb-3">
    <%= form.label :name, "Gift name:", class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <br>
  <div class="mb-3">
    <%= form.label :price, "Price:" %>
    <%= form.text_field :price, class: "form-control" %>
  </div>
  <br>
  <div class="mb-3"> 
    <%= form.label :url, "Gift URL", class: "form-label" %>
    <%= form.text_field :url, class: "form-control" %>
  </div>
  <br>
  
  <%= form.submit class: "btn btn-primary"%>
<% end %>