<h1>Add a gift idea!</h1>

<% if @gift.errors.any? %>
  <ul>
  <% @gift.errors.each do |error| %>
    <li>
      <%= "Error: #{error.full_message}"%>
    </li>
  <% end %>  
  </ul>
<% end %>

<%# https://guides.rubyonrails.org/form_helpers.html %>

<%= form_with model: @gift do |form| %>
  <%= form.label :name, "Gift name:" %>
  <%= form.text_field :name %>
  <%= form.label :price, "Price:" %>
  <%= form.text_field :price %>
  <%= form.label :url, "Gift URL" %>
  <%= form.text_field :url %>

  <%= form.select :person_id, @people %>

  <%= form.submit "Add gift" %>
<% end %>