<h1>Add a gift idea!</h1>

<%= flash[:error] %>

<%# https://guides.rubyonrails.org/form_helpers.html %>

<%= form_with url: "/gifts", method: :post do |form| %>
  <%= form.label :name, "Gift name:" %>
  <%= form.text_field :name %>
  <%= form.label :price, "Price:" %>
  <%= form.text_field :price %>

  <%= form.submit "Add gift" %>
<% end %>