<h1>Gifts</h1>

<br>
<% if !@gifts.empty? %>
  <% @gifts.each do |gift| %>
    <div>
      <p>
        <span><%= gift.name %></span>
      for
        <span><%= gift.giftee.name %></span>
        <span><%= link_to "Edit", edit_gift_path(gift) %></span>
      </p>
      
    </div>  
  <% end %>
<% else %>
  <p>No gifts yet! Add a gift idea to get started.</p>
<% end %>

<br>

<div class="row">
  <%= link_to "Add gift", new_gift_path, class: "btn btn-outline-danger col-md-4" %>
  <%= link_to "Add giftee", new_giftee_path, class: "btn btn-outline-dark col-md-4 offset-md-4"%>
</div>
