<h1>Gifts</h1>

<table>
  <thead>
    <tr>
      <th>Gift</th>
      <th>Giftee</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if !@gifts.empty? %>
      <% @gifts.each do |gift| %>
        <tr>
          <td><%= link_to gift.name, gift_path(gift) %></td>
          <td><%= link_to gift.giftee.name, giftee_path(gift.giftee.id), class: "dark" %></td>
          <td><%= gift.price %></td>
        </tr>  
      <% end %>
    <% else %>
      <p>No gifts yet! Add a gift idea to get started.</p>
    <% end %>
  </tbody>
</table>

<br>
<br>

<div class="row">
  <%= link_to "Add a gift", new_gift_path, class: "btn btn-danger col-md-4 btn-lg" %>
  <%= link_to "Add a giftee", new_giftee_path, class: "btn btn-secondary col-md-4 offset-md-4 btn-lg"%>
</div>
