<h1>Gifts</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Gift</th>
      <th>Giftee</th>
      <th>Price</th>
      <th>Purchased</th>
    </tr>
  </thead>

  <tbody>
    <% if !@gifts.empty? %>
      <% @gifts.each do |gift| %>
        <tr>
          <td><%= link_to gift.name, gift_path(gift) %></td>
          <td><%= link_to gift.giftee.name, giftee_path(gift.giftee.id), class: "giftees" %></td>
          <td><%= gift.price %></td>
          <td>
            <label for="purchased"></label>
            <input name="purchased" type="checkbox" data-controller="checkbox" data-action="checkbox#toggle" data-target="gift.purchased" id="Purchased" <% if gift.purchased %> checked <%end%>/>
          </td>
        </tr>  
      <% end %>
    <% else %>
      <p>No gifts yet! Add a gift idea to get started.</p>
    <% end %>
  </tbody>
</table>

<br>
<br>

<div class="row">
  <div class="col">
    <div class="infinity">
      <%= link_to "Add a gift", new_gift_path, class: "btn btn-danger md-4 btn-lg gift-box", id: "infinity" %>
    </div>
  </div>
  <div class="col">
    <div class="infinity">
      <%= link_to "Add a giftee", new_giftee_path, class: "btn btn-secondary md-4 offset-md-4 btn-lg gift-box"%>
    </div>
  </div>
</div>
