<% if @gift.url != "" %>
  <h1><a href="<%= @gift.url %>" target="_blank"><%= @gift.name %></a></h1>
<% else %>
  <h1><%= @gift.name %></h1>
<% end %>

<p>Giftee: <%= link_to @gift.giftee.name, giftee_path(@gift.giftee.id), class: "giftees" %></p>
<% if @gift.price %>
  <p>Price: $<%= @gift.price %></p>
<% end %>

<br>

<%# Example 1 with button and form %>
<%= form_with model: @gift do |form| %>
  <%= form.hidden_field :id %>

  <%= form.label :purchased, "Purchased" %>
  <%= form.check_box :purchased, class: "checkbox-purchased" %>

  <%= form.submit "Save" %>
<% end %>

<%# Example 2 (partial, not working) with Stimulus JS Controller %>
<div data-controller="checkbox">
  <label for="purchased">Purchased</label>
  <input name="purchased" type="checkbox" data-action="change -> checkbox#update"/>
</div>

<br>
<br>
<div>
  <%= link_to "Edit this gift", edit_gift_path(@gift) %> | 
  <%= link_to "Back to gifts", gifts_path %>
  <br>
  <br>
  <%= button_to "Delete gift", @gift, method: :delete, class: "btn btn-outline-dark" %>
</div>