<h1><%= @giftee.name %>'s Contact Info</h1>

<p><%= @giftee.phone_number %></p>
<p><%= @giftee.email %></p>
<p><%= @giftee.phone_number %></p>
<p><%= @giftee.street_1 %></p>
<p><%= @giftee.street_2 %></p>
<p><%= @giftee.city %></p>
<p><%= @giftee.state %></p>
<p><%= @giftee.zipcode %></p>
<p><%= @giftee.country %></p>