<h1><%= link_to @giftee.name, giftee_path(@giftee.id), class: "giftees" %></h1>

<h4>Contact Info</h4>
<p><%= @giftee.phone_number %></p>
<p><%= @giftee.email %></p>
<p><%= @giftee.phone_number %></p>
<p><%= @giftee.street_1 %></p>
<p><%= @giftee.street_2 %></p>
<p><%= @giftee.city %></p>
<p><%= @giftee.state %></p>
<p><%= @giftee.zipcode %></p>
<p><%= @giftee.country %></p>